@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  padding: 30px 100px;
  margin-top:70px
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* ICI A MODIFIER */

.main-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.2em;
  color: #a04275;
}

.subtitle{
  font-size: 1.6em;
  margin-bottom: 40px;
  color: #404040;
}

.logo {
  width: 70px; 
  height: 70px; 
  margin-left: 10px;
}

.image-prj {
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.legend{
  text-align: center;
  margin-bottom: 30px;
}

.image-prj img {
  max-width: 60%;
  height: auto;
}

.image-prj2 {
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.image-prj2 img {
  max-width: 40%;
  height: auto;
}

.project .content .content-title{
  margin-bottom: 20px;
}

.paragraph{
  margin-bottom: 20px;
}

.bande-noire {
  width: 100%;
  height: 60px; 
  background-color: rgba(0, 0, 22);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.auteur{
  text-align: center;
  align-items: center;
  font-size: 1.1em;
  color: #fff;
}

/* FIN A MODIFIER */

.main .content{
  max-width: 800px;
  justify-content: center;
  text-align: center;
}

.main .content h2{
  color: #fff;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span{
  font-size: 2em;
  font-weight: 600;
}

header{
  z-index: 999;
  position: fixed;
  background: rgba(0, 0, 22);
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky{
  background: #000016;
  padding: 10px 0px;
}

header .brand{
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation ul{
  list-style-type: none;
}

header .navigation li{
  float: left;
}

header .navigation a{
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a:hover{
  color: #808080;
}

header.sticky .navigation a:hover{
  color: #808080;
}

body{
  min-height: 110vh;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title{
  position: relative;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 40px;
}

.title p{
  font-size: 1em;
  width: 80%;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  header.sticky{
    padding: 10px 20px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  header .navigation a{
    color: #000;
    font-size: 1.2em;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation li{
    float: none;
    padding: 10px 0;
  }

  header .navigation a:hover{
    background: #3a6cf4;
    color: #fff;
    transition: 0.3s ease;
  }

  .menu-btn{
    position: absolute;
    background: url(images/menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(images/close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
  }

  .section-title{
    font-size: 1.8em;
  }

}
